:root {
  --color-background: #f3f3f3;
  --color-background-nav: #2b3d50;
  --color-background-home: #344960;
  --color-text-light: #ededed;
  --color-text-title: #ff5555;
  --color-text-dark: #3d3d3d;

  --color-background-darkmode: #0d0d0d;

  --font-sans-serif: Arial, Helvetica, sans-serif;
  --font-serif: "Times New Roman", Times, serif;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: var(--font-sans-serif);
}

html,
body {
  background-color: var(--color-background);
}

html.darkmode,
body.darkmode {
  background-color: var(--color-background-darkmode);
}
h1 {
  color: var(--color-text-title);
  margin: 40px 0;
  font-size: 30px;
}
a {
  text-decoration: none;
  transition: ease-in-out 0.4s;
}
a:hover {
  opacity: 0.8;
}
main {
  width: 100%;
  min-height: calc(100vh - 120px);
  display: flex;
  flex-direction: column;
}
.container {
  width: 90%;
}
